*.scss linguist-language=Scss
*.vue linguist-language=Vue
*.css linguist-language=Vue
*.html linguist-language=Vue
*.md linguist-language=Vue 
*.yml linguist-language=Vue 
*.js linguist-language=Vue 
*.xml linguist-language=Vue
*.sql linguist-language=Vue
*.uml linguist-language=Vue 
*.cmd linguist-language=Vue 