$sidebarWidth: 274px;
#app {
  .main-container {
    height: 100%;
    flex: 1;
    background: #fafafa;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .sidebar-container {
    transition: all 0.2s ease-in-out;
    width: $sidebarWidth;
    min-width: $sidebarWidth;
    max-width: $sidebarWidth;
    flex: 0 0 $sidebarWidth;
    background-color: $menuBg;
    height: 100%;
    z-index: 0;
    overflow: hidden;

    // reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out,
        0s padding-right ease-in-out;
    }

    .scrollbar-wrapper {
      overflow-x: hidden !important;
    }

    .el-scrollbar__bar.is-vertical {
      right: 0px;
    }

    .el-scrollbar {
      height: 100%;
    }

    &.has-logo {
      .el-scrollbar {
        height: calc(100% - 50px);
      }
    }

    .is-horizontal {
      display: none;
    }

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }

    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }

    // menu hover
    .submenu-title-noDropdown,
    .el-sub-menu__title {
      color: $menuText;
      background-color: $menuBg;
      &:hover {
        color: $menuActiveText !important;
        background-color: $subMenuBg !important;
        position: relative;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          height: 100%;
          width: 4px;
          transform: translateY(-50%);
          background: $theme;
        }
      }
    }

    & .el-menu-item.is-active {
      color: $subMenuActiveText !important;
      background: $menuActiveBg !important;
    }

    .is-active > .el-sub-menu__title {
      color: $subMenuActiveText !important;
    }

    & .nest-menu .el-sub-menu > .el-sub-menu__title,
    & .el-sub-menu .el-menu-item {
      min-width: $sidebarWidth !important;
      background: $subMenuBg !important;
      color: $menuText !important;
      &:hover {
        color: $subMenuActiveText !important;
      }
    }

    & .el-sub-menu .el-menu-item.is-active {
      color: $subMenuActiveText !important;
      background-color: $subMenuActiveBg !important;
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px;
      min-width: 54px;
      max-width: 54px;
      flex: 0 0 54px;
    }

    .main-container {
      width: calc(100% - 54px);
      left: 54px;
    }

    .submenu-title-noDropdown {
      padding: 0 !important;
      position: relative;

      .el-tooltip {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }
      }
    }

    .el-sub-menu {
      overflow: hidden;

      & > .el-sub-menu__title {
        padding: 0 !important;

        .svg-icon {
          margin-left: 20px;
        }

        .sub-el-icon {
          margin-left: 19px;
        }

        .el-sub-menu__icon-arrow {
          display: none;
        }
      }
    }

    .el-menu--collapse {
      .el-sub-menu {
        & > .el-sub-menu__title {
          & > span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .el-menu--collapse .el-menu .el-sub-menu {
    min-width: $sidebarWidth !important;
  }

  // mobile responsive
  .mobile {
    .main-container {
      width: 100%;
      left: 0;
    }

    .sidebar-container {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 999;
      transition: transform 0.28s;
      width: $sidebarWidth !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-$sidebarWidth, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

// when menu collapsed
.el-menu--vertical {
  & > .el-menu {
    .svg-icon {
      margin-right: 16px;
    }

    .sub-el-icon {
      margin-right: 12px;
      margin-left: -2px;
    }
  }

  .nest-menu .el-sub-menu > .el-sub-menu__title,
  .el-menu-item {
    &:hover {
      color: $menuActiveText !important;
    }
  }

  // the scroll bar appears when the subMenu is too long
  > .el-menu--popup {
    max-height: 100vh;
    overflow-y: auto;

    &::-webkit-scrollbar-track-piece {
      background: #d3dce6;
    }

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-thumb {
      background: #99a9bf;
      border-radius: 20px;
    }
  }
}
