// sidebar
$menuText: #bfcbd9;
$menuActiveText: #ffffff;
$menuActiveBg: $theme;
$subMenuActiveText: #ffffff; //https://github.com/ElemeFE/element/issues/12951
$subMenuActiveBg: $theme;

$menuBg: #20222a;

$subMenuBg: rgba(
  $color: #000000,
  $alpha: 0.9
);
$subMenuHover: #001528;

$sideBarWidth: 210px;
